<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   
    <link rel="stylesheet" href="css/style.css">
    <title>App Crud</title>
    <style>
        .container{
            max-width: 960px;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="shadow-lg pb-3 mb-5 bg-body rounded">
            <h4>Datos de contacto</h4>
            <form action="/crear" method="POST">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input id="nombre" name="nombre" type="text" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="celular" class="form-label">Celular</label>
                    <input id="celular" name="celular" type="text" class="form-control" required>
                </div>
            </div>
                <button type="submit" class="w-100 btn btn-guardar btn-lg"><i class="bi bi-save"></i>Registrar</button>
            </form>

            <table id="tablaContactos" class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Celular</th>
                    </tr>
                </thead>
                <tbody>
                    <% contactos.forEach((contacto) => { %>
                        <tr>
                            <td><%=contacto.id %></td>
                            <td><%=contacto.nombre %></td>
                            <td><%=contacto.celular %></td>
                            <td>
                                <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a>
                                <a href="/borrar/<%=contacto._id %>" class="btn btn-outline-danger bi bi-trash"></a>
                            </td>
                        </tr>
                   <% }) %>
                </tbody>
            </table>
    </div>
  
  <!-- Modal para Editar   -->
  <div id="modalContacto" class="modal fade" tabindex="-1" aria-labelledby="modalContacto" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="exampleModalLabel">Editar Contactos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/editar" method="POST">
              <input name="id_editar" id="id_editar" type="text" hidden>
            <div class="mb-3">
              <label for="nombre_editar" class="col-form-label">Nombre:</label>
              <input id="nombre_editar" name="nombre_editar" type="text" class="form-control" value="">
            </div>

            <div class="mb-3">
              <label for="celular_editar" class="col-form-label">Celular:</label>
              <input id="celular_editar" name="celular_editar" type="text" class="form-control" value="">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </form>
      </div>
    </div>
</div>
 <!-- JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="js/code.js"></script>
    
</body>
</html>